<style>
  .navbar-collapse {
    padding: 0.5rem 1rem;
  }

  .navbar-collapse.show {
    background-color: #f8f9fa; /* Bootstrap light background */
    transition: background-color 0.3s ease;
  }
</style>

<nav class="navbar navbar-expand-md bg-light border-bottom shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing">
      <i class="fa-regular fa-compass"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-light" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Become a host</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
