<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-6 offset-3 mt-3">
            <h1>Login on WanderLust</h1>
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label needs-validation" novalidate>Username</label>
                    <input name = "username" type="text" id="username" placeholder="Enter Username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label needs-validation" novalidate>Password</label>
                    <input name = "password" type="password" id="password" placeholder="Enter Password" class="form-control" required>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</body>            